<!DOCTYPE html>
<html ng-app="InvoiceApplication" ng-controller="HomeController">
<head>
    <link rel="stylesheet" href="~/Content/Site.css" />
    <title ng-bind="models.helloAngular"></title>
</head>
<body>
    <h1>{{models.helloAngular}}</h1>

    <ul>
        <li><a href="/user">Users</a></li>
        
        <li><a href="/invoice">Invoice</a></li>
    </ul>

    <div ng-view></div>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    @Scripts.Render("~/bundles/InvoiceApplication")
</body>
</html>